
<%= link_to("<< Back to List",faculties_path) %>

<div class="subjects delete">
  <h2>Delete Facutly</h2>

  <%= form_for(@faculty,:url=> faculty_path(@faculty.id),:html => {:method => :delete}) do |f| %>

    <p>Are you sure you want to permanently delete this faculty?</p>

    <p class="reference-name"><%= @faculty.fname %></p>

    <div class="form-buttons">
      <%= submit_tag("Delete Faculty") %>
    </div>

  <% end %>
</div>
