<%= link_to("<< Back to List",departments_path) %>


  <h2>Create Department</h2>

  <%= form_for(@department) do |f| %>

    <%= render(:partial => "form_department", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create Department") %>
    </div>

  <% end %>
</div>
